{% extends 'base.html' %}
{% block title %}Podpoř vědu | O projektu {% endblock %}

{% block content %}
    <div class="span9">
        <div class="page_head" ><h2>O projektu &frasl;&frasl;</h2></div>

        <div class="secondary_content">

            <p>
                Jsme malý tým, který pracuje na aplikaci Podpoř vědu s ambicí pomoct české vědě. Sešli jsme se v rámci
                <a href="http://webexpo.cz/startupcamp/" target="_blank">WebExpo Startup Campu</a>. Naším cílem je projekt 
                zahájit, promyslet a spustit alfa verzi. <strong>Představujeme úplně nový pohled, jak se dívat na vědu.</strong>
            </p>
            <p>
                Projekt Podpoř vědu je unikátní služba, která si vytváří vědcům jedinečný komunikační kanál s veřejností. Na druhé 
                straně dává lidem možnost se aktivně a bez prostředníka zajímat o současné vědecké projekty. Podpoř vědu přímo propojuje 
                veřejnost a vědeké týmy. Můžete zde najít projekt, který vás zajímá a ten sledovat nebo i podpořit. Šířením myšlenky, darem 
                nebo zapojením do týmu.
            </p>

            <h3>Tým</h3>
            
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <img src="/static/img/rado.jpg" height="250" alt="">
                        <h3>Radovan Igliar</h3>
                        <p><strong>Teamleader</strong></p>
                        <p>Rado je Founder projektu Podpoř vědu.cz a je hybnou sílou našeho týmu. </p>
                    </div>
                </li>
  
                <li class="span4">
                    <div class="thumbnail">
                        <img src="/static/img/berka.jpg" height="250" alt="">
                        <h3>Berka</h3>
                        <p><strong>Vývoj uživatelského prostředí</strong></p>
                        <p>Berka dodává našemu týmu pozitivní energii a dělá náš web tak, aby se vám líbil. Myslíme si, že se mu to opravdu daří.</p>
                    </div>
                </li>
  
                <li class="span4">
                    <div class="thumbnail">
                        <img src="/static/img/adam.jpg" height="250" alt="">
                        <h3>Adam Cironis</h3>
                        <p><strong>Práce na kódu</strong></p>
                        <p>Adam píše kód a pokud něco nefunguje, tak za to bude pravděpodobně odpovědný on.</p>
                    </div>
                </li>
            </ul>

        </div>
    </div>    
{% endblock %}